ghidra/
r2modman/
r2modmanPlus-local/
wireshark/
vlc/
VeraCrypt/
keepassxc/
calibre/
dconf/
baloofileinformationrc/
enviroment.d/
kiorc/
mozilla/
Electron/
discord/
mpv/
procps/
systemd/
session/
GIMP/
LM Studio/
LM-Studio/
QtProject.conf
baloofileinformationrc
btop/
environment.d/
filetypesrc
gtk-3.0/
gtk-4.0/
pulse/
htop/
Wallpapers/
mimeapps.list
pavucontrol.ini
trashrc
kiorc
user-dirs.locale
user-dirs.dirs
dolphinrc
