ghidra/
r2modman/
r2modmanPlus-local/
wireshark/
vlc/
VeraCrypt/
nvim/
keepassxc/
calibre/
dconf/
baloofileinformationrc/
enviroment.d/
kiorc/
mozilla/
Electron/
discord/
procps/
systemd/
session/
user-dirs.locale
user-dirs.dirs

