configuration{
    modi:				"drun";
    font:				"JetbrainsMono Nerd Font 10";
    show-icons:                     true;
    icon-theme: 			"Reversal-dark";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    sidebar-mode: false;
    display-drun: "";
    display-run: "";
    display-window: "";
    display-dmenu: "󰅇";

    //adding vim keybindings
    kb-row-up: "Up,Control+k";
    kb-row-left: "Left,Control+h";
    kb-row-right: "Right,Control+l";
    kb-row-down: "Down,Control+j";

    kb-accept-entry: "Control+z,Control+y,Return,KP_Enter";

    //fixing up
    kb-remove-to-eol: "";
    kb-move-char-back: "Control+b";
    kb-remove-char-back: "BackSpace";
    kb-move-char-forward: "Control+f";
    kb-mode-complete: "Control+o";
}


@theme "/dev/null"

* {
	bg:				#151515;
	fg:				#e8e8d3;
	accent:				#687363;
	button:				#1c1c1c;

	background-color:		@bg;
	text-color:			@fg;
}

window {
	border-radius:                  7px;
	width:			    	50%;
	padding: 			32px;
}

prompt {
	background-color:		@button;
	enabled:			true;
	padding:			0.5% 32px 0% -0.5%;
	font:				"JetbrainsMono Nerd Font 10";
}

entry {
    	placeholder:			"Search";
	font:				"JetbrainsMono Nerd Font 10";
	background-color:               @button;
    	placeholder-color:              @fg;
    	expand:                         true;
    	padding:                        0.5% 0% 0% 0%;
}

inputbar {
	children:			[ prompt, entry ];
    	background-color:               @button;
    	expand:                         false;
    	border-radius:                  6px;
    	margin:                         0%;
    	padding:                        10px;
}

listview {
    	columns:                        3;
    	lines:	                        3;
    	cycle:                          false;
    	dynamic:                        true;
    	layout:                         vertical;
}

mainbox {
    	children:                       [ inputbar, listview ];
    	spacing:                       	2%;
    	padding:                        2% 1% 2% 1%;
}

element {
    	orientation:                    vertical;
    	padding:                        2% 0% 2% 0%;
}

element-icon {
    	size:                           150px;
    	horizontal-align:	 	0.5;
}

element-text {
    	expand:                         true;
    	horizontal-align:               0.5;
    	vertical-align:                 0.5;
    	margin:                         0.5% 0.5% -0.5% 0.5%;
}

element-text, element-icon {
	background-color:		inherit;
	text-color:			inherit;
}

element selected {
    	background-color:               @button;
    	border-radius:                  6px;
}
