* {
  margin: 3px;
}

window {
  font-size: 16px;
  padding: 10px;
  font-family: "Jetbrains Mono";
  color: white;
  background-color: rgba(10, 10, 10, 0.97);
  border-radius: 9px;
  filter: blur(8px);
  backdrop-filter: blur(9px);
}

image {
  margin: 3px;
}

#entry {
  padding: 0.25em;
}

#entry:selected {
  background-color: #458588;
  background: linear-gradient(90deg, darkslateblue, darkmagenta);
  color: black;
}

#text:selected {
  color: #fbf1c7;
}

#input {
  color: black;
  padding: 0.25em;
}
